@using Project.Web.Models;
@model List<ProductModel>
@{
    ViewBag.Title = "Vegetables";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Vegetables</h2>

@foreach (ProductModel p in Model)
{
    <a href="@Url.Action("Detail","Home", new {id=p.productId })"> <img src=" @Url.Content("~/Content/images/" + p.imageName)" /></a>
}